.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.agg-container {
    width: 50%;
}
  
.agg-card {
    margin-bottom: 20px;
}
  
.agg-card mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.server-details-container {
    width: 50%;
    flex: 1;
}
  
.server-details-card {
    margin-bottom: 20px;
}
  
.server-details-card mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}