<div class="container">
<div class="agg-container">
  <div class="agg-card">
    <mat-card>
      <mat-card-header><mat-card-title>Top 20 Most Vulnerable Machines by Risk Score</mat-card-title></mat-card-header>
      <mat-card-content><button mat-button (click)="open('Top 20 Most Vulnerable Machines by Risk Score')" color="primary">Expand</button></mat-card-content>
    </mat-card>
  </div>
  <div class="agg-card">
    <mat-card>
      <mat-card-header><mat-card-title>Top 20 Most Vulnerable Machines Lower Level by Risk Score</mat-card-title></mat-card-header>
      <mat-card-content><button mat-button (click)="open('Top 20 Most Vulnerable Machines Lower Level by Risk Score')" color="primary">Expand</button></mat-card-content>
    </mat-card>
  </div>
  <div class="agg-card">
    <mat-card>
      <mat-card-header><mat-card-title>Top 20 Most Vulnerable Machines by Highest Count</mat-card-title></mat-card-header>
      <mat-card-content><button mat-button (click)="openDialog('Top 20 Most Vulnerable Machines by Highest Count')" color="primary">Expand</button></mat-card-content>
    </mat-card>
  </div>
  <div class="agg-card">
    <mat-card>
      <mat-card-header><mat-card-title>Top 20 Most Vulnerable Machines Lower Level by Highest Count</mat-card-title></mat-card-header>
      <mat-card-content><button mat-button (click)="openDialog('Top 20 Most Vulnerable Machines Lower Levels by Highest Count')" color="primary">Expand</button></mat-card-content>
    </mat-card>
  </div>
</div>
<div class="server-details-container">
  <div class="server-details-card">
    <mat-card>
      <mat-card-header><mat-card-title>Top 20 High Vulnerability Scores with Server Key Details</mat-card-title></mat-card-header>
      <mat-card-content><button mat-button (click)="openDialog('Top 20 High Vulnerability Scores with Server Key Details')" color="primary">Expand</button></mat-card-content>
    </mat-card>
  </div>
  <div class="server-details-card">
    <mat-card>
      <mat-card-header><mat-card-title>Top 20 High Vulnerability Scores Lower Level with Server Key Details</mat-card-title></mat-card-header>
      <mat-card-content><button mat-button (click)="openDialog('Top 20 High Vulnerability Scores Lower Level with Server Key Details')" color="primary">Expand</button></mat-card-content>
    </mat-card>
  </div>
  <div class="server-details-card">
    <mat-card>
      <mat-card-header><mat-card-title>Top 20 High Vulnerability Count with Server Key Details</mat-card-title></mat-card-header>
      <mat-card-content><button mat-button (click)="openDialog('Top 20 High Vulnerability Count with Server Key Details')" color="primary">Expand</button></mat-card-content>
    </mat-card>
  </div>
  <div class="server-details-card">
    <mat-card>
      <mat-card-header><mat-card-title>Top 20 High Vulnerability Count Lower Level with Server Key Details</mat-card-title></mat-card-header>
      <mat-card-content><button mat-button (click)="openDialog('Top 20 High Vulnerability Count Lower Level with Server Key Details')" color="primary">Expand</button></mat-card-content>
    </mat-card>
  </div>
</div>
</div>