<div *ngIf="data == 1">
    <mat-card>
      <mat-card-content>
        <img src="assets/Charts/remediation-progress.png" alt="Remediation Chart">
      </mat-card-content>
    </mat-card>
</div>
<div *ngIf="data == 2">
    <mat-card>
        <mat-card-content>
            <img src="assets/Charts/keys-progress.png" alt="Key Chart">
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="data == 3">
    <mat-card>
        <mat-card-content>
            <img src="assets/Charts/servers-progress.png" alt="Server Chart">
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="data == 4">
    <mat-card>
        <mat-card-content>
            <img src="assets/Charts/null-data.png" alt="Null Data Chart">
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="data == 5">
    <mat-card>
        <mat-card-content>
            <img src="assets/Charts/serverWorkstation.png" alt="Null Data Chart">
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="data == 6">
    <mat-card>
        <mat-card-content>
            <img src="assets/Charts/osvendor.png" alt="Null Data Chart">
        </mat-card-content>
    </mat-card>
</div>