<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <div class="logo" ><img width="120" alt="Angular Logo" src="assets/Signet_Jewelers.jpg"/></div>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="/analysis" routerLinkActive="active">Vulnerability Analysis</a>
      <a mat-list-item routerLink="/top20" routerLinkActive="active">Top20 Reports</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
