<div class="charts">

  <div class="chart">
    <mat-card>
      <mat-card-content>
        <img src="assets/remediation-progress.png" alt="Remediation Chart">
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="chart">
    <mat-card>
      <mat-card-content>
        <img src="assets/keys-progress.png" alt="Key Chart">
      </mat-card-content>
    </mat-card>
  </div>

  <div class="chart">
    <mat-card>
      <mat-card-content>
        <img src="assets/servers-progress.png" alt="Server Chart">
      </mat-card-content>
    </mat-card>
  </div>
    
</div>

<div class="card-container">
<div class="cardsss">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Remediations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="text">
        <span class="total">55777</span>
        <span><mat-icon color="primary">trending_up</mat-icon></span>
        <span class="description">5%</span>
        <span> of total</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="cardsss">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Keys</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="text">
        <span class="total">86</span>
        <span><mat-icon color="primary">trending_up</mat-icon></span>
        <span class="description">3%</span>
        <span> of total</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="cardsss">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Servers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="text">
        <span class="total">107</span>
        <span><mat-icon color="primary">trending_up</mat-icon></span>
        <span class="description">10%</span>
        <span> of total</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>


<div class="graph-container">

  <div class="card">
    <h2></h2>
    <img src="assets/remediation-countdown.png" alt="Server Chart">
  </div>

</div>
