<div class="toolbar">
      
  <span>Current Report: 2023-05-20</span>
  <div class="spacer"></div>
  <div class="button-container">
  <button mat-raised-button (click)="exploreData()">Preview Data</button></div>
</div>

<div class="container">
  <div class="item">
    <mat-card>
      <mat-card-content>
        <img src="assets/remediation-progress.png" alt="Remediation Chart">
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="item">
    <mat-card>
      <mat-card-content>
        <img src="assets/keys-progress.png" alt="Key Chart">
      </mat-card-content>
    </mat-card>
  </div>

  <div class="item">
    <mat-card>
      <mat-card-content>
        <img src="assets/servers-progress.png" alt="Server Chart">
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="second-row-container">

<div class="lookup-container">
  <div class="lookup">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Asset Lookup</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Enter asset name" [(ngModel)]="assetLookupText">
        </mat-form-field>
        <button mat-button color="primary" (click)="onSubmitAssetLookup()">Submit</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="lookup">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Key Path Lookup</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Enter key path" [(ngModel)]="keyPathLookupText">
        </mat-form-field>
        <button mat-button color="primary" (click)="onSubmitKeyPathLookup()">Submit</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="null-container">
  <div class="null-chart">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Null Data</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/null-data.png" alt="Null Data Chart">
      </mat-card-content>
    </mat-card>
  </div>
  

</div>
</div>