<div class="lookup-container">
  <div class="lookup">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Asset Lookups</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Enter asset name" [(ngModel)]="assetLookupText">
        </mat-form-field>
        <button mat-button color="primary" (click)="onSubmitAssetLookup()">Submit</button>
        <a routerLink="/lookupDetails" routerLinkActive="active">Lookup</a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="lookup">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Key Path Lookups</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Enter key path" [(ngModel)]="keyPathLookupText">
        </mat-form-field>
        <button mat-button color="primary" (click)="onSubmitKeyPathLookup()">Submit</button>
        <a  routerLink="/lookupDetails" routerLinkActive="active">Lookup</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="bool == true">
  <p>good test</p>
  <top20-details></top20-details>
</div>

  
  
  